.container{
    margin: auto;
   width: 20%;
   padding: 10px;
   background-color: lightblue;
   text-align: center;

}
input{
    margin: 20px;
    padding: 12px;
    
}
button{
    background-color: orange;
    padding: 8px;
    margin: 18px;
    font-weight: bolder;
}
button:hover{
    background-color: indianred;
}
.sbat{
    text-align: center;
}
.btn{
    text-align: center;
}
